# Ignore all Blog.zip files recursively
**/Blog.zip

# Ignore unneccesary folders
AutoCAD/Blog-old/
TheBuildingCoder/
civilizeddevelopment/
dances-with-elephants/
justonesandzeros/Postings.zip
justonesandzeros/Videos.zip
modthemachine/64550114681063476.tgz
the3dwebcoder/
the360view/

# Windows/OneDrive files
Thumbs.db
desktop.ini
*.tmp
*.temp

# VSCode
.vscode/