comments:
- author: Peter Ferber
  email: peter.m.ferber@wellsfargo.com
  ip: 173.245.55.153
  url: ''
  date: '2014-05-01 14:40:33'
  body: I've been trying in vain to return a list of running Access application objects;
    and I had a hunch that this code might help me do that, with the changed parameter
    'string[] progIds = {"Access.Application"}'.  The code, as written, gets as far
    as "if (displayName.ToUpper().IndexOf(clsId) > 0)", but it does not return Access
    objects.  Any notion of how might be changed to achieve that objective?
- author: Philippe Leefsma
  email: ''
  ip: 103.22.201.183
  url: http://profile.typepad.com/6p0167638460d1970b
  date: '2014-05-01 19:53:21'
  body: 'Hi Peter, I don''t have Access installed, so I cannot test it directly. Did
    you try specifying the version, eg. Access.Application.11?


    Does the Type.GetTypeFromProgId return a valid type?'
- author: Peter Ferber
  email: peter.m.ferber@wellsfargo.com
  ip: 173.245.55.153
  url: ''
  date: '2014-05-02 09:28:53'
  body: "Hi, Philippe, and thanks very much for your response.\n\nI tried what you\
    \ suggested, with the following command:\nDim myType As Type = Type.GetTypeFromProgID(\"\
    Access.Application\")\n\nThe procedure does yield a valid type. \nType.FullName\
    \ = \"Microsoft.Office.Interop.Access.ApplicationClass\"\nType.Asssembly.FullName\
    \ = \"Microsoft.Office.Interop.Access, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c\"\
    \n\nI open 3 copies of Access; and using \"Access.Application.14\" as a parameter,\
    \ I got an Instances count of 1.  When going through the foreach process, acadObj\
    \ does return a valid Access object!  That is just excellent.  My concern, now,\
    \ is why it is returning only one object when two or more instances are open.\
    \  If you can help me solve that riddle, you will have solved a problem that's\
    \ been plaguing me for nearly a week.\n\nSuperb work on this, by the way.  I'm\
    \ very grateful to have you as a resource.  ~Peter Ferber"
- author: Philippe Leefsma
  email: ''
  ip: 103.22.201.236
  url: http://profile.typepad.com/6p0167638460d1970b
  date: '2014-05-04 20:58:17'
  body: "Hi Peter, I'm afraid I don't have a suggestion for the multiple instances\
    \ running question... the issue was raised in the past and we couldn't find a\
    \ solution for that behavior. It seems the ROT only returns the same instance\
    \ if they are similar. \n\nYou may want to approach Microsoft support or some\
    \ Windows API dedicated forums where more expert people on those APIs may be able\
    \ to help you.\n\nSorry for the bad news..."
- author: Peter Ferber
  email: peterfrb2@gmail.com
  ip: 173.245.55.153
  url: ''
  date: '2014-05-05 14:14:05'
  body: Fair enough.  Thanks for taking the time to respond to my inquiry.  I will
    pursue with Tech support.
- author: Philippe Leefsma
  email: ''
  ip: 103.22.201.236
  url: http://profile.typepad.com/6p0167638460d1970b
  date: '2014-05-05 18:06:37'
  body: 'You''re welcome. Feel free to let us know if you can sort this out.


    Thanks,

    Philippe.'
- author: cestleswampthing@gmail.com
  email: cestleswampthing@gmail.com
  ip: 46.144.87.137
  url: ''
  date: '2014-06-13 00:00:52'
  body: 'is it posible to post the code in VB.net format?

    i''m having the same problem with inventor'
- author: Limin Ma
  email: lma@niagaratransformer.con
  ip: 113.252.51.51
  url: ''
  date: '2014-06-24 05:11:54'
  body: I want to have a VB.NET version of this code too, for Inventor.
- author: Philippe
  email: philippe.leefsma@autodesk.com
  ip: 132.188.32.206
  url: ''
  date: '2014-06-24 05:17:54'
  body: Sorry, we don't write code 'on-demand'. If you cannot convert that sample
    by yourself, either hire a programmer or find somebody who is willing to do that
    for fun. I'm happy to help if you have a precise question on how to convert a
    specific line into Vb.Net.
- author: Philippe
  email: philippe.leefsma@autodesk.com
  ip: 132.188.32.206
  url: ''
  date: '2014-06-24 05:20:21'
  body: 'By the way, that approach doesn''t apply to Inventor as-is. I wrote the following
    post on Inventor, and you will be happy to notice it''s in Vb.Net:


    <a href="http://adndevblog.typepad.com/manufacturing/2013/05/running-programmatically-a-specific-version-of-inventor.html">http://adndevblog.typepad.com/manufacturing/2013/05/running-programmatically-a-specific-version-of-inventor.html</a>'
- author: Shamil
  email: Shamil.Salakhetdinov@gmail.com
  ip: 178.162.111.126
  url: ''
  date: '2014-11-01 14:08:10'
  body: "@Peter Ferber:\n\nTry the following code:\n\nusing System;\nusing System.Runtime.InteropServices;\n\
    using System.Runtime.InteropServices.ComTypes;\n\nnamespace ROT.TestConsole\n\
    {\n\n/// \n/// Enumerate opened MS Access projects via ROT\n/// \npublic class\
    \ OpenedAccessProjects2\n{\n[DllImport(\"ole32.dll\")]\nstatic extern int CreateBindCtx(uint\
    \ reserved, out IBindCtx ppbc);\n\n[DllImport(\"ole32.dll\")]\npublic static extern\
    \ void GetRunningObjectTable(int reserved, out IRunningObjectTable prot);\n\n\
    public static void Enum()\n{\nstring progId = \"Access.Application\";\nType type\
    \ = Type.GetTypeFromProgID(progId);\nvar clsId = type.GUID.ToString().ToUpper();\n\
    \n// get Running Object Table ...\nIRunningObjectTable Rot;\nGetRunningObjectTable(0,\
    \ out Rot);\n\n// get enumerator for ROT entries\nIEnumMoniker monikerEnumerator\
    \ = null;\nRot.EnumRunning(out monikerEnumerator);\n\nIntPtr pNumFetched = new\
    \ IntPtr();\nIMoniker[] monikers = new IMoniker[1];\n\nIBindCtx bindCtx;\nCreateBindCtx(0,\
    \ out bindCtx);\n\nint index = 1;\nwhile (monikerEnumerator.Next(1, monikers,\
    \ pNumFetched) == 0)\n{\nstring applicationName = \"\";\ndynamic application =\
    \ null;\ntry\n{\nGuid IUnknown = new Guid(\"{00000000-0000-0000-C000-000000000046}\"\
    );\nobject ppvResult;\nmonikers[0].BindToObject(bindCtx, null, ref IUnknown, out\
    \ ppvResult);\napplication = ppvResult;\napplicationName = application.Name;\n\
    }\ncatch { }\n\nif (applicationName == \"Microsoft Access\") \nSystem.Console.WriteLine(\"\
    {0}. '{1}' '{2}'\", index, application.Name, application.CurrentDB.Name);\n\n\
    index++;\n}\n}\n\n}\n}\n\n\nP.S. Code lines indenting is removed to avoid code\
    \ lines wrapping AMAP..."
- author: Shamil
  email: Shamil.Salakhetdinov@gmail.com
  ip: 178.162.111.126
  url: ''
  date: '2014-11-01 15:02:50'
  body: "Here is a refactored streamlined code snippet:\n\nusing System;\nusing System.Collections.Generic;\n\
    using System.Runtime.InteropServices;\nusing System.Runtime.InteropServices.ComTypes;\n\
    \nnamespace ROT.TestConsole\n{\n/// <summary>\n/// Use Running Object Table (ROT)\
    \ to get \n/// MS Access application instances \n/// with opened databases/projects\n\
    /// </summary>\npublic class MSAccessRunningInstances\n{\n[DllImport(\"ole32.dll\"\
    )]\nstatic extern int CreateBindCtx(uint reserved, out IBindCtx ppbc);\n\n[DllImport(\"\
    ole32.dll\")]\npublic static extern void GetRunningObjectTable(int reserved, out\
    \ IRunningObjectTable prot);\n\npublic static IEnumerable<dynamic> Enum()\n{\n\
    \    // get Running Object Table ...\n    IRunningObjectTable Rot;\n    GetRunningObjectTable(0,\
    \ out Rot);\n\n    // get enumerator for ROT entries\n    IEnumMoniker monikerEnumerator\
    \ = null;\n    Rot.EnumRunning(out monikerEnumerator);\n\n    IntPtr pNumFetched\
    \ = new IntPtr();\n    IMoniker[] monikers = new IMoniker[1];\n\n    IBindCtx\
    \ bindCtx;\n    CreateBindCtx(0, out bindCtx);\n\n    while (monikerEnumerator.Next(1,\
    \ monikers, pNumFetched) == 0)\n    {\n        string applicationName = \"\";\n\
    \        dynamic application = null;\n        try\n        {\n            Guid\
    \ IUnknown = new Guid(\"{00000000-0000-0000-C000-000000000046}\");\n         \
    \   monikers[0].BindToObject(bindCtx, null, ref IUnknown, out application);\n\
    \            applicationName = application.Name;\n        }\n        catch { }\n\
    \n        if (applicationName == \"Microsoft Access\") yield return application;\n\
    \    }\n}\n\n}\n}"
- author: Matt Garrett
  email: ''
  ip: 76.120.20.207
  url: http://profile.typepad.com/6p01bb07e53756970d
  date: '2015-01-29 09:54:56'
  body: 'Hi Philippe,


    Thank you for posting this. It really helps to have an example when learning to
    use the ROT! Unfortunately, it doesn''t seem to work for me, with the following
    actions:


    1. I started two instances of AutoCAD, opening a different dwg in each: A.dwg
    and B.dwg. Both are in SDI mode.

    2. I added debug code to the monikerEnumerator.Next loop to print the moniker
    displayname for each moniker.

    3. I added debug code to the foreach clsId loop to cast ComObject as AcadApplication
    acApp, then print acApp.ActiveDocument.Name.

    4. When I run the example, it prints "A.dwg" (the dwg opened in the first instance)
    4 times, for 2 unique displaynames. (I''m assuming these correspond to acad.exe
    and AcBrowserHost.exe.)


    The problem, of course, is that all four ComObjects appear to point to the AutoCAD
    instance that opened A.dwg. I can''t seem to connect to the instance that opened
    B.dwg.


    I note in Process Explorer that the B.dwg instance is a child process of the A.dwg
    instance, which I started first.


    Any idea why this isn''t working?


    Thank you,

    Matt Garrett'
- author: Harold Reuvers
  email: hreuvers@sorba.nl
  ip: 82.75.222.155
  url: ''
  date: '2015-05-26 12:24:21'
  body: "Somebody any idea why my .NET program is getting an error when trying to\
    \ open a DWG in an active AutoCAD 2013 application? (works fine an active AutoCAD\
    \ 2015)\nProblem remains also with the COM Marshal method...\n\n//ObjectARX_2015:\n\
    //Autodesk.AutoCAD.Interop.dll  \n//Autodesk.AutoCAD.Interop.Common.dll\nusing\
    \ Autodesk.AutoCAD.Interop;\n\n...\n// Look for acad 2013 & 2015\nstring[] progIds\
    \ = { \n\"AutoCAD.Application.19\", \n\"AutoCAD.Application.20\" \n};\nList<object>\
    \ instances = GetRunningInstances(progIds);\nforeach (object acadObj in instances)\n\
    {\n try\n {\n  AcadApplication acApp = (AcadApplication) acadObj;\n  acApp.Documents.Open(FullPathOpenDWG,\
    \ false);\n }\n catch\n {\n  MessageBox.Show(\"error\");\n }\n}"
- author: Vladimir Kozlov (aienabled)
  email: ''
  ip: 14.183.107.107
  url: http://profile.typepad.com/6p01bb08b38c50970d
  date: '2016-01-30 06:05:49'
  body: 'Hello!


    Unfortunately this code returns for me the same instance of Visual Studio instead
    of all running instances. I mean if I had X running instances, it X times return
    only the first instance.


    The code from there <a href="http://www.codeproject.com/Articles/7984/Automating-a-specific-instance-of-Visual-Studio-NE">http://www.codeproject.com/Articles/7984/Automating-a-specific-instance-of-Visual-Studio-NE</a>
    works flawless for me (and it could be adapted for not only Visual Studio processes).


    Regards!'
- author: NDOH
  email: andyoh365@gmail.com
  ip: 104.132.0.77
  url: ''
  date: '2016-02-17 12:19:19'
  body: 'Hi,


    This was useful. I am not utilizing COM access to manipulate AutoCAD, instead
    of using Lisp. Now, can you create COM object with Revit?


    Thanks,


    Andy'
- author: Philippe Leefsma
  email: ''
  ip: 85.4.122.122
  url: http://profile.typepad.com/6p0167638460d1970b
  date: '2016-02-17 13:48:52'
  body: 'I don''t think Revit has a COM API, but I''m not a Revit expert so you may
    want to ask this kind of questions on... a Revit forum:

    <a href="http://forums.autodesk.com/t5/revit-api/bd-p/160">http://forums.autodesk.com/t5/revit-api/bd-p/160</a>


    Regards,

    Philippe.'
- author: Gary Puerini
  email: gpuerini@mii.com
  ip: 64.223.13.131
  url: ''
  date: '2017-01-06 14:02:18'
  body: 'i''m running into the same problem.  Were you able to convert the Visual
    Studio to use with autoCAD ?  It looks like it uses basically the same approach?

    thanks'
- author: Naren
  email: neran27@gmail.com
  ip: 155.14.31.78
  url: ''
  date: '2017-09-17 06:03:11'
  body: using the above could i able to get the running instance of Internet Explorer
    object.
- author: rvcristiand
  email: rvcristiand@gmail.com
  ip: 186.80.20.33
  url: ''
  date: '2018-06-23 15:47:38'
  body: 'Hi !


    At this moment I''m doing an VBA Excel application and I want manage many AutoCAD
    Applications Instances. I''m searching in the web and I don''t find any way to
    get the ROT (Running Object Table) with VBA. Do you any suggestion ?


    Thank you so much for the help !'
- author: rvcristiand
  email: rvcristiand@gmail.com
  ip: 186.80.20.33
  url: ''
  date: '2018-06-25 08:56:47'
  body: 'Hi Peter !


    At this moment I''m trying do an Application like you, but I can''t use the Type
    Class. What did you do for VBA recognize this Class.


    Thank you so much for you advice !'
- author: Swetha
  email: swetha.jai@rwth-aachen.de
  ip: 160.46.252.68
  url: ''
  date: '2020-09-03 06:14:07'
  body: "Hello Philippe!!\n\nI noticed that calling a specific CATIA Application this\
    \ way throws an error.I tried calling a catia interface library as reference and\
    \ it still does not work. Is there any specific dll that i need to use inorder\
    \ to create an ROT for the CATIA application in a similar way. Your reply will\
    \ be really helpful as I have been trying to create a running object table for\
    \ CATIA instances. Thank you very much in advance! \n\nRegards,\nSwetha\n\n-----"
